<!-- blog/templates/blog/profile_detail.html -->
{% extends "blog/base.html" %}

{% block title %}{{ profile.user.username }}'s Profile{% endblock %}

{% block content %}
<h1>{{ profile.user.username }}'s Profile</h1>
<p>Bio: {{ profile.bio }}</p>
<img src="{{ profile.profile_pic.url }}" alt="{{ profile.user.username }}'s profile picture">

<hr>

<h2>Posts by {{ profile.user.username }}</h2>
<ul>
    {% for post in posts %}
    <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        <p>{{ post.content|truncatewords:30 }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
